@use "../abstracts/variables" as vars;
@use "../abstracts/functions" as func;

// grid concept, stolen from netninja
@mixin grid($columns,$mgn) {
	margin-right: $mgn;
	margin-bottom: $mgn;
	width: ((100% - (($columns - 1) * $mgn)) / $columns);
	&:nth-child(#{func.toNOrNotToN($columns)}) {
		margin-right: 0;
	}

}

.row{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.col-3 {
	@include grid(4, 1.25%);
}

.col-4 {
	@include grid(3, 1.25%);
}

.col-8 {
	@include grid(1.5, 1.25%);
}

.col-12 {
	@include grid(1, 2.5%);
}