@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.small_gradient_button {
    cursor: pointer;
    border: none;
    background-image: url(../img/small-button.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    color: vars.$mainText;
    text-decoration: none;
    border-radius: 500px;
    padding: 15px 45px;
    filter: drop-shadow( 0 7px 6px rgba(0, 0, 0, .27));
    justify-self: flex-end;
    position: absolute;
    bottom: 80px;
    &.outline{
        background: none;
        border: 1px solid vars.$main-solid-color;
    }
    &.google{
        background: vars.$mainText;
        color: vars.$not-black;
    }
}

form .small_gradient_button{
    position: relative;
    bottom: unset;
    flex-grow: 1;
}