@use "../abstracts/functions" as func;
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../abstracts/extends";

.m-button__small_gradient_button {
    cursor: pointer;
    border: none;
    background-image: url(../img/small-button.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    color: vars.$mainText;
    text-decoration: none;
    border-radius: 500px;
    padding: 15px 45px;
    @extend %dropshadow;
    justify-self: flex-end;
    position: absolute;
    bottom: 80px;
    &.outline{
        background: none;
        border: 1px solid vars.$main-solid-color;
    }
    &.google{
        background: vars.$mainText;
        color: vars.$not-black;
    }
}

form .m-button__small_gradient_button, #text .m-button__small_gradient_button{
    position: relative;
    bottom: unset;
    flex-grow: 1;
}

.m-history-item.m-button__action{
    justify-content: space-between;
    text-align: left;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    &:not(:first-of-type){
        margin-top: 16px;
    }
    p{
        margin: 0;
    }
    
}

.m-button__action{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: vars.$button-color;
    border-radius: 27px;
    text-decoration: none;
    &:not(:first-of-type){
        margin-top: 16px;
    }
    @extend %dropshadow;

    .m-action__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        .a-container__img{
            margin-left: 16px;
            fill: vars.$main-solid-color;
            width: 32px;
            max-height: 32px;
        }
        .a-container__text{
            font-size: func.rem(20px);
            margin: 0 0 0 32px;
        }
    }
    &.action__gradient{
        background: url('../img/small-button.svg');
        position:relative; 
        bottom:unset; 
        padding:0;
        margin-top:0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.a-action__span{
    background-color: rgba($color: vars.$main-solid-color, $alpha: 0.25);
    padding: 4px 8px;
    border-radius: 50px;
}