@use "../abstracts/variables" as vars;

.m-history-item.m-button__action{
    justify-content: space-between;
    text-align: left;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    &:not(:first-of-type){
        margin-top: 16px;
    }
    p{
        margin: 0;
    }
    .a-action__span{
        background-color: rgba($color: vars.$main-solid-color, $alpha: 0.25);
        padding: 4px 8px;
        border-radius: 50px;
    }
}

.o-history-container{
    margin: 32px 0 112px;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    .m-history__data{
        flex: 1 1 50%;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .a-data__date{
            font-size: .8rem;
        }
    }
}