@use "../abstracts/variables" as vars;

.history-item.action{
    justify-content: space-between;
    text-align: left;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    &:not(:first-of-type){
        margin-top: 16px;
    }
    p{
        margin: 0;
    }
    span{
        background-color: rgba($color: vars.$main-solid-color, $alpha: 0.25);
        padding: 4px 8px;
        border-radius: 50px;
    }
}

.history-container{
    // display: flex;
    margin: 32px 0 112px;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    .history-data{
        flex: 1 1 50%;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .date{
            font-size: .8rem;
        }
    }
}