#reader {
  border-radius: 25px ;
  width: 100%;
  margin-top: 32px !important;
  height: calc(100% - 128px);
  background-color: black;
  position: absolute !important;
  top: 0;
  left: 0;
  overflow: hidden;
  
  video{
    border-radius: 25px !important;
  }

}

#text{
  position: absolute;
  top: calc(50% - 32px);
  transform: translateY(-50%);
  text-align: center;
}

#qrcode{
  margin-top: 64px;
}