#reader {
  border-radius: 25px ;
  width: 100%;
  margin-top: 32px !important;
  height: calc(100% - 128px);
  background-color: black;
  position: absolute !important;
  top: 0;
  left: 0;
  // mirror camera
  transform: scaleX(-1);
  
  video{
    border-radius: 25px !important;
  }
}