@use "./variables" as vars;
@use "../layout/grid" as grid;

// example 
@media screen and (min-width: vars.$screen-md) {
    body {
        all: unset;
    }
    #appContainer{
        box-shadow: 0 0 0 10pt vars.$shadow;
        border-radius: 25px;
        padding: 10px 10px 0;
        width: 375px;
        height: 812px !important;

        .pageContainer{
            min-height: 100%;
        }
    }
}