// Primitive colors
// ------------------------------------------------------------------------- /

// Contextual colors
// ---
// These are the colors that you're supposed to use.
// ------------------------------------------------------------------------- /

$mainText: white;

$shadow: #23272A;
$not-black: #2C384A;

// Screen sizes
$screen-xs: 320px;
$screen-sm: 680px;
$screen-md: 900px;
$screen-lg: 1180px;
$screen-xl: 1240px;

$gutter-sm: 10px;
$gutter: 20px;

// grid columns
$columns: 12;

// spacing
$spacer: 2.22rem;
