@use "../abstracts/variables" as vars;


*{
    box-sizing: border-box;
    color: vars.$mainText;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: vars.$not-black;
}

#appContainer{
    box-shadow: 0 0 0 10pt vars.$shadow;
    border-radius: 25px;
    padding: 10px 10px 0;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 812px !important;
    background-image: url(../img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

form{
    width: calc(100% - 32px);
}

form>.container{
    text-align: center;
}

.hide {
	display: none !important;
}