@use "../abstracts/variables" as vars;


*{
    box-sizing: border-box;
    color: vars.$mainText;
    opacity: 0;
    transition: opacity .2s;
}

*{
    opacity: 1;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: vars.$not-black;
}

#appContainer{
    box-shadow: 0 0 0 10pt vars.$shadow;
    border-radius: 25px;
    padding: 10px 10px 0;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 812px !important;
    background-image: url(../img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    max-height: 100%;
    max-width: 100%;
}

form{
    width: calc(100% - 32px);
}

form>.container{
    text-align: center;
}

.hide {
	display: none !important;
}

main.left{
    align-items: flex-start;
    .textMargin{
        margin-left: 16px;
    }
}

// fade in content
.pageContainer *{
    animation: fadein .2s;
    -moz-animation: fadein .2s; /* Firefox */
    -webkit-animation: fadein .2s; /* Safari and Chrome */
    -o-animation: fadein .2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

// change date picker input icon to white
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}