@font-face{
    font-family: FuturaBook;
    src: url("../fonts/FuturaPTBook.ttf");
}
@font-face{
    font-family: FuturaLight;
    src: url("../fonts/FuturaPTLight.ttf");
}
@font-face{
    font-family: FuturaMedium;
    src: url("../fonts/FuturaPTMedium.ttf");
}
